			
#bg_gradient { border: 0;
	width: 100%;
 height: 350px; 
 margin: -8px;
 margin-bottom: 10px;'
 
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.logo_panel{

	padding: 10px;
	margin-top: -40px;
}

#iitb_logo{
	padding: 10px;
	margin-top: 10px;
	margin-left: 200px;

}

.logo_text{
	color: white;
	font-size: 12pt;

	padding: 10px;
	margin-top: -40px;
}


#tf_logo{
	padding: 10px;
	margin-top: -120px;
	margin-left: 480px;	
}

#associate_logo{
	padding: 10px;
	margin-top: -200px;
	margin-left: 880px;	
}

#powered_logo{
	padding: 10px;
	margin-top: -240px;
	margin-left: 880px;	
}

#unesco_logo{
	padding: 10px;
	margin-top: -120px;
	margin-left:950px; 
	margin-top:-35px;
	
}

#unicef_logo{
	padding: 10px;
	margin-top: -120px;
	margin-left:1000px; 
	margin-top:-45px;
}